# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Data (ignore all datasets)
# =========================
Data/

# =========================
# Python cache & compiled files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Model files
# =========================
*.pkl
*.joblib

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/